.error-massage {
    font-style: Regular;
    line-height: 15px;
    font-size: 12px;
    fill: solid;
    color: #FF0000;
    display: block;
    height: 24px;
}


/*
.error-massage__hidden {
    visibility: hidden;
}*/